<?xml version='1.0' encoding='utf-8'?>
<widget id="com.localism.Localight" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Localight</name>
    <description>
        The local giftcard for local merchants and makers!
    </description>
    <author email="hello@localight.com" href="http://cordova.io">
        Localism
    </author>
    <content src="index.html" />
    <access origin="*" />


    <feature name="Keyboard">
      <param name="ios-package" value="IonicKeyboard" onload="true" />
    </feature>
    <preference name="KeyboardDisplayRequiresUserAction" value="false"/>
</widget>
