<div class = "mainContainer">
    <!-- the default 404 and no session token was found page -->
    <h1 class = "center">Welcome to Localight</h1>
    <h3 class = "center">It seems you have gotten here as you went to an incorect page</h3>
    <br />
    <h4 class = "center">Please send "Gift" to:</h4>
    <h4 class = "center">(562) 445-4688</h4>
    <br />
    <h4 class = "center">And you shall recieve a URL to create a giftcard</h4>

    <h1>dev buttons</h1>
    <a href="#/giftcards/create?token=c54656ba10a7cac737befbd1bd5bc2e905b85fc3b85cfbd770b248ec0af2fa2f6af0f9a49af842773b07c037abb87a32">
        <button>create giftcard</button>
    </a>
    <a href = "#/giftcards/56705ec387f8ba3e055479fd?token=963553b01119157a6444e656e23ca611071e2f76e724809de7b5beef0e49d41a02dd938e2922ca00ce1f92669bc651bc">
        <button>view giftcard</button>
    </a>
    <a href = "#/dashboard">
        <button>dashboard</button>
    </a>
</div>
